<nav aria-label="Page navigation">
    <ul class="pagination">

    <!-- first page -->
    {% if (offset > 0 and offset <= config.LINKS_PER_PAGE) or offset==0 or offset <=total_count %}
        <li class="page-item">
        <a class="page-link" href="{{ url }}">&laquo; first</a>
        </li>
    {% endif %}

    <!-- previous page -->
    {% if offset - config.LINKS_PER_PAGE > 0 %}
    <li class="page-item">
        <a class="page-link" href="{{ url }}?offset={{ offset - config.LINKS_PER_PAGE }}&limit={{ limit }}">previous</a>
    </li>
    {% endif %}

    <!-- current page-->
    <li class="page-item active" aria-current="page">
        <a class="page-link">Offset {{ offset }} of {{ total_count }}</a>
    </li>

    <!-- next page -->
    {% if offset + config.LINKS_PER_PAGE < total_count %}
    <li class="page-item">
        <a class="page-link" href="{{ url }}?offset={{ offset + config.LINKS_PER_PAGE }}&limit={{ limit }}">next</a>
    </li>
    {% endif %}

    <!-- last page when we are on the first page -->
    {% if offset == 0 %}
    <li class="page-item">
        <a class="page-link" href="{{ url }}?offset={{ total_count - (total_count % config.LINKS_PER_PAGE) }}&limit={{ limit }}">&raquo; last</a>
    </li>
    {% endif %}

    <!-- last page when we are not on the first page-->
    {% if offset > 0 and total_count - (total_count % config.LINKS_PER_PAGE) == 0 %}
    <li class="page-item">
        <a class="page-link" href="{{ url }}?offset={{ total_count - (total_count % config.LINKS_PER_PAGE) }}&limit={{ limit }}">&raquo; last</a>
    </li>
    {% endif %}
    </ul>
</nav>
