{% extends "base.html" %}
<title>{% block title %}{{ config.SHAARIT_NAME }} :: {{ object.title }} {% endblock %}</title>
{% block og_title %}{{ object.title }}{% endblock %}
{% if object.title %}
{% block description %}{{ config.SHAARIT_DESCRIPTION }}{% endblock %}
{% block og_description %}{{ config.SHAARIT_DESCRIPTION }}{% endblock %}
{% endif %}
{% if object.tags %}
{% block keywords %}
<meta name="keywords" content="{{ object.tags }}">{% endblock %}
{% endif %}
{% if object.image %}
{% block og_image %}
<meta property="og:image" content="{{ object.image }}">{% endblock %}
{% endif %}
{% block content %}
<div class="col-xs-8 col-md-8 col-lg-8 offset-xs-2 offset-md-2 offset-lg-2 mt-3">
    {% include 'shaarit/links_item.html' with context %}
</div>
{% endblock %}
