{% extends "base.html" %}
<title>{% block title %}{{ config.SHAARIT_NAME }} :: Tags Cloud{% endblock %}</title>
{% block og_title %}Tags Cloud{% endblock %}
{% block content %}
<div class="col-xs-8 col-md-8 col-lg-8 offset-xs-2 offset-md-2 offset-lg-2 mt-3">
    <h1><i class="fas fa-tags"></i> Tags Cloud</h1>
    {% for key, value in tags.items() %}
    {% if key %}
    <a href="{{  url_for ('links_by_tag_list', tags=key) }}" role="button" class="p-3 m-2 btn btn-outline-dark position-relative">
        {{ key }}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ value }}
        </span>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
